.table-hover {
  cursor: pointer;
}

.table-hover-blue tbody tr:hover {
  background-color: rgb(202, 208, 235);
}

.btn-empty {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input[type="checkbox"]:checked + label {
    transform: rotateX(180deg);
  }

  body {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-family: "Open Sans", Arial, sans-serif;
  }

  .center {
  	text-align: center;
  }

  .is-hidden {
  	display: none;
  }

.test  {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #307bbb;
  }
